// Fonts
$font-primary: system-ui;

// Viewports
$viewport-mobile: 320px;
$viewport-tablet: 768px;
$viewport-desktop: 1440px;

:root {
  // Colors
  --color-white: #ffffff;
  --color-black: #000000;
}
